body{
    margin: 0;  
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.phone{
    background: #CCEFFF;
    border: 8px solid black;
    border-radius: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    height: 600px;
    position: relative;
    width: 300px;
}
.layer{
    &-1{
        background: palegoldenrod;
        bottom: 0;
        height: 450px;
        position: absolute;
        right: 60px;
        width: 80px;
        z-index: 1;
        .left-ear--outer {
            background: white;
            border-radius: 90%;
            width: 20px;
            height: 50px;
            position: absolute;
            left: 10px;
        }
        .left-ear--inner {
            background: pink;
            border-radius: 90%;
            width: 10px;
            height: 50px;
            position: absolute;
            left: 15px;
            top: 8px;
        }
        .right-ear--outer {
            background: white;
            border-radius: 90%;
            width: 20px;
            height: 50px;
            position: absolute;
            right: 10px;
        }
        .right-ear--inner {
            background: pink;
            border-radius: 90%;
            width: 10px;
            height: 50px;
            position: absolute;
            right: 15px;
            top: 8px;
        }
        .head {
            background: white;
            border-radius: 50%;
            height: 80px;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: absolute;
            top: 30px;
            width: 100%;
            .head__eye{
                background: gray;
                border-radius: 50%;
                width: 4px;
                height: 4px;
                position: absolute;
                top: 15px;
                &--left{
                    left: 30px;
                }
                &--right{
                    right: 30px;
                }
            }
        }
    }
    &-2{
        background: white;
        bottom: 0;
        height: 450px;
        position: absolute;
        left: 60px;
        width: 80px;
        z-index: 2;
    }
    &-3{
        background: pink;
        bottom: 0;
        height: 400px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 220px;
        z-index: 3;
    }
    &-4{
        background: white;
        bottom: 0;
        height: 350px;
        left: 15px;
        position: absolute;
        width: 80px;
        z-index: 4;
    }
    &-5{
        background: papayawhip;
        bottom: 0;
        height: 300px;
        position: absolute;
        width: 200px;
        z-index: 5;
    }
    &-6{
        background: white;
        bottom: 0;
        height: 250px;
        position: absolute;
        right: 30px;
        width: 80px;
        z-index: 6;
    }
    &-7{
        background: pink;
        bottom: 0;
        height: 200px;
        position: absolute;
        right: 0;
        width: 150px;
        z-index: 7;
    }
    &-8{
        background: papayawhip;
        bottom: 0;
        height: 120px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 200px;
        z-index: 8;
    }
    &-9{
        background: white;
        bottom: 0;
        height: 100px;
        position: absolute;
        width: 120px;
        z-index: 9;
    }
    &-10{
        background: pink;
        bottom: 0;
        height: 100px;
        position: absolute;
        right: 0;
        width: 120px;
        z-index: 10;
    }
}